html, body {
    padding: 0;
    margin: 0;
    background-color: #FFFCC7;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h2 {
    font-size: 2em;
}

header {
    background-color: #ffefcb;
    padding: 5%;
    
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_link {
    align-self: center;
    font-size:1.2em;
    text-decoration: none;
    color: #000;
}
#Logo_SDMA
{
    width: 100px;
    height: 100px;
    border: 2px solid #ffefcb;
    border-radius: 100px/100px;
    background: url("./Assets/Images/SDMA_Logo1.png") no-repeat center;
}

/* flex part*/
.flex1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5%;
    background-color: #F2F4B8;
}
.flex2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5%;
}
.textFlex p {
    font-size: 1.5em;
}
.flexVideo {
    border: solid #000000 5px;
    border-radius: 10px; 
    height: 500px;
    box-shadow:5px 5px 5px 5px  #000000 ;
    margin-bottom: 10%;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
    .flexVideo {
        border: solid #000000 5px;
        border-radius: 10px; 
        height: 250px;
        box-shadow:5px 5px 5px 5px  #000000 ;
        margin-bottom: 10%;
    }
}
.play {
    border: solid #000000 5px;
    border-radius: 10px; 
    height: 1000px;
    box-shadow:5px 5px 5px 5px  #000000 ;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
    .play {
        border: solid #000000 5px;
        border-radius: 10px; 
        height: 500px;
        box-shadow:5px 5px 5px 5px  #000000 ;
        margin-bottom: 10%;
    }
}
/*--- Section Grid Start ---*/
#GridExplainedContainer
{
    width: 100%;
    height: auto;

    padding: 0px 15%;

    text-align: center;

    background: #FFFCC7;
}

#GridExplainedContainer h2
{
    padding: 25px 0px;
}

#GridExplainedContainer p
{
    font-size: 1.5em;
    padding: 10px 0px;
}

#Video_Grid
{
    width: 100%;
    height: 500px;
    

    margin: 0px auto;

    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;

    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
} 

@media screen and (min-width: 200px) and (max-width: 640px) 
{
    #Video_Grid 
    {
        width: 100%;
        height: 250px;

        margin-bottom: 10%;
        
        border: solid 5px rgb(0, 0, 0);
        border-radius: 10px;

        box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    }
}

#Conclusion h2, #Conclusion p
{
    text-align: center;
}

#Conclusion p
{
    font-size: 1.5em;
}
section#Conclusion {
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer_container{
    background-color: #F0E68C;
    height: 300px;
    padding-top: 6%;
}
.footer_title{
    display: flex;
    justify-content: center;
}
.footer_flex{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.footer_flex >p{
    margin-left: 20px;
    padding-top: 6px;
}
.social-networks { 
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    justify-items: center; 
    width: 15%;
} 
.social-networks >div{
    margin-top: 15px;
}
.icone {
    font-size: 2em;
}
